################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/touristmgmApi/touristmgmApi/obj
/touristmgmApi/touristmgmApi.BusinessLayer/obj
/touristmgmApi/touristmgmApi.DataModel/obj
/touristmgmApi/touristmgmApi.Repository/obj
